# 예제를 통해 for 문 이해하기

### 1. 전형적인 for 문

In [1]:
test_list = ['one','two','three']

for i in test_list:
    print(i)

one
two
three

### 2. 다양한 for 문의 사용

In [2]:
a = [(1,2), (3,4), (5,6)]

for (first, second) in a:
    print(first + second)

3
7
11

### 3. for 문의 응용

In [3]:
# 총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다.
# 합격인지, 불합격인지 결과를 보여 주시오.
scores = [90,25,67,45,80]
num = 0  # 학생에게 붙여 줄 번호

for score in scores:
    num += 1
    if score >= 60:
        print("%d번 학생은 합격입니다." % num)
    else:
        print("%d번 학생은 불합격입니다." % num)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# for 문과 continue 문

In [4]:
scores = [90,25,67,45,80]
num = 0

for score in scores:
    num += 1
    if score < 60: continue
    print("%d번 학생은 합격입니다." % num)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

# for 문과 함께 자주 사용하는 range 함수
숫자 리스트를 자동으로 만들어 주는 range 함수

In [5]:
a = range(10)
a

range(0, 10)

In [6]:
a = range(1,11)  # range(시작_숫자, 끝_숫자)
a

range(1, 11)

### range 함수의 예시

In [7]:
add = 0

for i in range(1,11):
    add = add+i

print(add)

55

In [8]:
scores = [90,25,67,45,80]

for i in range(0, len(scores)):
    if scores[i] < 60: continue
    print("%d번 학생은 합격입니다." % (i+1))

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

### for와 range를 이용한 구구단

In [9]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

# 리스트 컴프리헨션 사용하기
리스트 안에 for 문을 포함하는 리스트 컴프리헨션(list comprehension)

In [10]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [11]:
# 리스트 컴프리헨션을 사용
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [12]:
# [1, 2, 3, 4] 중에서 짝수에만 3을 곱하여 담기
a = [1,2,3,4]
result = [num*3 for num in a if num%2 == 0]
print(result)

[6, 12]

In [13]:
# 구구단 리스트 컴프리헨션
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]