# 파이썬 함수의 구조

In [1]:
# 함수 정의
def add(a,b):
    return a + b

In [2]:
# 함수 
a = 3
b = 4
c = add(a,b)  # add(3, 4)의 리턴값을 c에 대입
c

7

# 매개변수(parameter)와 인수(arguments)

In [3]:
def add(a,b):  # a, b는 매개변수
    return a+b

add(3,4)  # 3, 4는 인수

7

# 입력값과 리턴값에 따른 함수의 형태
### 1. 입력값이 있고 리턴값이 있는 함수

In [4]:
def add(a, b): 
    result = a + b 
    return result

In [5]:
add(3,4)

7

### 2. 입력값이 없는 함수

In [6]:
def say():
    return 'Hi'

In [7]:
a = say()
print(a)

Hi

### 3. 리턴값이 없는 함수

In [8]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [9]:
add(3,4)

3, 4의 합은 7입니다.

In [10]:
# None을 리턴한다는 것은 리턴값이 없다는 것
print(add(3,4))

3, 4의 합은 7입니다.
None

### 4. 입력값도, 리턴값도 없는 함수

In [11]:
def say():
    print('Hi')

In [12]:
say()

Hi

# 매개변수를 지정하여 호출하기

In [13]:
def sub(a,b):
    return a - b

In [14]:
result = sub(a=7, b=3)  # a에 7, b에 3을 전달
print(result)

4

In [15]:
# 매개변수를 지정하면 다음과 같이 순서에 상관없이 사용
result = sub(b=5, a=3)
print(result)

-2

# 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?
괄호 안의 매개변수 부분이 *매개변수로

### 여러 개의 입력값을 받는 함수 만들기

In [16]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

In [17]:
result = add_many(1,2,3)
print(result)

6

In [18]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [19]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

In [20]:
result = add_mul('add',1,2,3,4,5)
print(result)

15

In [21]:
result = add_mul('mul',1,2,3,4,5)
print(result)

120

### 키워드 매개변수, kwargs

In [22]:
def print_kwargs(**kwargs):
    print(kwargs)

In [23]:
print_kwargs(a=1)

{'a': 1}

In [24]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

# 함수의 리턴값은 언제나 하나이다

In [25]:
def add_and_mul(a,b):
    return a+b, a*b

In [26]:
result = add_and_mul(3,4)
print(result)  # 결괏값으로 (7, 12)라는 튜플 값을 가지게 됨

(7, 12)

In [27]:
# 하나의 튜플 값을 2개의 값으로 분리하여 받고 싶다면
result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [28]:
def add_and_mul(a,b):
    return a+b  # 함수는 return 문을 만나는 순간, 리턴값을 돌려 주고 함수를 빠져나가게 된다.
    return a*b

In [29]:
result = add_and_mul(3,4)
print(result)

7

### ** return의 또 다른 쓰임새

In [30]:
def say_nick(nick):
    if nick == '바보': return
    print("나의 별명은 %s 입니다." % nick)

In [31]:
say_nick('야호')

나의 별명은 야호 입니다.

In [32]:
say_nick('바보')